
.banner {
	background-color: $aqua;  
	padding: .25em .25em 2em .25em;  
	margin-bottom: 2em; 

	.name {
		font-size: 3em;
		color: $black;    
		margin-bottom: 0;  
	}

	.links {
		display:inline;   
		float:right; 
	}

	a {
		font-size: 1em;
		color: $black; 
		text-decoration: none;  
		padding-right: 1em;  
	}
	a:hover {
		color: $yellow;  
	}


}