@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);
@import './../node_modules/skeleton-scss/scss/skeleton.scss';
@import 'variables';
@import 'banner';
@import 'footer';

body {
	background-color: $gray;  
}


.img-holder {
	margin-bottom: 1em; 
}

.img-holder:hover {
	box-shadow: 7px 7px 5px $green;
}

.thumbnail {
	width: 100%;    
}

h2 {
	font-size: 1.25em;  
	color: $black;  
}