@import url(https://fonts.googleapis.com/css?family=Montserrat|Open+Sans);
@import './../node_modules/skeleton-scss/scss/skeleton.scss';
@import 'variables';
@import 'banner';

body {
	background-color: $gray;  
}


.img-holder {
	border: 3px solid $green;  
	margin-bottom: 1em; 
}


.thumbnail {
	width: 100%;    
}

